
/* starts here  */

.bbest-doc-list > * {
	font-family: 'Barlow';
font-style: normal;
letter-spacing: 0px;
}
.bbest-doc-list hr {
border: 1px solid #DFEAF2;
margin-bottom: 50px;
}
.bbest-doc-list h1 {
font-size: 52px;
font-weight: 600;
line-height: 56px;
color: #000099;
margin-bottom: 0;
}
.bbest-doc-list p {
font-size: 16px;
font-weight: 500;
line-height: 24px;
color: #000099;
margin-bottom: 50px;
}
.bbest-doc-list a {
color: white;
text-decoration: none;
}

.bbest-doc-list {
max-width: 1300px;
margin: auto;
}

.bbest-doc-header {
margin-top: 50px;
margin-bottom: 50px;

}
.bbest-doc-links {
display: flex;
gap: 50px;
}
.bbest-doc-icone {
	width: 16px;
	height: 20px;
	background: url("https://via.placeholder.com/16x20") center / cover;
}
.bbest-doc-first, .bbest-doc-second {
display: flex;
gap: 20px;
}

@media (max-width: 900px) {
.bbest-doc-links {
	display: block;
}
}